{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ profile.username }}</h1>
    <div id="follow-unfollow">
        Following: {{ profile.following }}
        <br>
        Followers: {{ profile.followers }}
        <br>
        {% if profile.username != user.username %}
            <button class="btn btn-primary btn-sm" id=follow-button>Follow</button>
            <button class="btn btn-primary btn-sm" id=unfollow-button>Unfollow</button>
        {% endif %}
        <hr>
    </div>

    {% for profilePost in profilePosts %}
        <div class="posts">
            <div id="username">
                <strong>{{ profilePost.user }}</strong>
            </div> 
            {% if user.username == profile.username %}
                <a href="{% url 'edit' profilePost.id %}">Edit</a>
            {% endif %}
            <div id="content">
                {{ profilePost.content }}
            </div> 
            <div id="date-time">
                {{ profilePost.dateTime }}
            </div> 
            <div id="like-button">
                <button class="btn btn-primary btn-sm" id="like-button">Like</button>
                <p id="number-likes">{{ profilePost.like }}</p>
            </div>
        </div>
        <br>
    {% endfor %}

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if profilePosts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ profilePosts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ profilePosts.number }} of {{ profilePosts.paginator.num_pages }}.
            </span>
    
            {% if profilePosts.has_next %}
                <a href="?page={{ profilePosts.next_page_number }}">next</a>
                <a href="?page={{ ProfilePosts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}