{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ profile.username }}</h1>
    <div id="follow-unfollow">
        Following:
        <br>
        Followers:
        <br>
        {% if profile.username != user.username %}
            <form action="{% url 'follow' profile.username %}" method="POST">
                {% csrf_token %}
                {% if profile.id not in followedPeople %}
                    <input class="btn btn-primary btn-sm" id=follow-button name="user-follow" type="submit" value="Follow"></input>
                {% elif profile.id in followedPeople %}
                    <input class="btn btn-primary btn-sm" id=unfollow-button name="user-unfollow" type="submit" value="Unfollow"></input>
                {% endif %}
            </form>
        {% endif %}
        <hr>
    </div>

    {% for profilePost in profilePosts %}
        <div class="posts">
            <div id="username">
                <strong>{{ profilePost.user }}</strong>
            </div> 
            {% if user.username == profile.username %}
                <a href="{% url 'edit' profilePost.id %}">Edit</a>
            {% endif %}
            <div id="content">
                {{ profilePost.content }}
            </div> 
            <div id="date-time">
                {{ profilePost.dateTime }}
            </div> 
            <div id="likes">
                <button class="btn btn-primary btn-sm" id="like-button" data-postid = "{{ profilePost.id }}" onclick = "likePost(this)">Like</button>
                <p id="number-likes{{ profilePost.id }}">{{ profilePost.like }}</p>
            </div>
        </div>
        <br>
    {% endfor %}

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if profilePosts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ profilePosts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ profilePosts.number }} of {{ profilePosts.paginator.num_pages }}.
            </span>
    
            {% if profilePosts.has_next %}
                <a href="?page={{ profilePosts.next_page_number }}">Next</a>
                <a href="?page={{ ProfilePosts.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}